
*.db
Staaaart/.vs/20180820/v15/.suo
Staaaart/.vs/20180820/v15/Browse.VC.db
Staaaart/.vs/20180820/v15/ipch/4c0a2021f8cdccc7.ipch
Staaaart/.vs/20180820/v15/Solution.VC.db
Staaaart/.vs/Iris_Selector/v15/.suo
Staaaart/.vs/Iris_Selector/v15/Browse.VC.db
Staaaart/.vs/Iris_Selector/v15/ipch/239fa0cf2b1934f1.ipch
Staaaart/x64/Debug/Iris_Selector.exe
Staaaart/x64/Debug/Iris_Selector.ilk
Staaaart/x64/Debug/Iris_Selector.pdb
